{% extends 'loginlayout.html' %}
{% load static %}

{% block 'main' %}
    <div class="row">
        {% if success %}
            <div class="alert alert-success mx-auto" role="alert" style="height: max-content; width: 35%;">
                <h5>{{ success }}</h5>
            </div>
        {% endif %}
        <div class="row">
            {% for msg in messages %}
                {% if msg.levels == DEFAULT_MESSAGE_LEVELS.SUCSESS %}
                    <div class="alert alert-success mx-auto" style="height: max-content; width: 45%;">
                        <h5>{{ msg }}</h5>
                    </div>
                {% elif msg.levels == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger mx-auto" style="height: max-content; width: 45%;">
                        <h5>{{ msg }}</h5>
                    </div>
                {% else %}
                    <div class="alert alert-warning mx-auto" style="height: max-content; width: 45%;">
                        <h5>{{ msg }}</h5>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mx-auto my-3 shadow p-4 rounded" style="height: max-content; width: 35%;">
            <h4>Login</h4>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    <h5>{{ error }}</h5>
                </div>
            {% endif %}
            <form action="/login" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                <label class="form-label">Username:</label>
                <input type="text" class="form-control" name="username">
                </div>
                <div class="mb-3">
                    <div class="row" >
                        <div class="col-6"><label class="form-label">Password:</label> </div>
                        <div class="col-6 text-end"><a href="#" >Forgot Password?</a></div>
                    </div>
                <input type="password" class="form-control" name="password">
                </div>
                <center>
                <input type="submit" class="btn btn-dark" value="Login" style="width: 100%;">
                <hr>
                <div class="mb-3">
                    <label class="form-label"><i>New here?</i></label><br>
                    <button type="button" class="btn btn-primary" style="width: 100%;"><a href="/register" style="color: white;">Create Account</a></button>
                </div>
                </center>
            </form>
        </div>
    </div>
{% endblock 'main' %}